
body {
    background-color: cornsilk;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}


/*************************/
/* section */
.section {
    display: grid;
    text-align: center;
    margin-top: 5px;
    
    height: 60px;

    /* 양쪽이 같은 크기가 됨 */
    grid-template-columns: 1fr 1fr;
}

.section button {
    font-size: 110%;
    font-weight: bold;
    color: white;
    border: 0px solid black;
    margin: 1px;
}

.section .executing {
    background-color: rgb(138, 43, 226);
}
.section .influencing {
    background-color: rgb(255, 139, 0);
}
.section .relationship {
    background-color: rgb(30, 144, 255);
}
.section .strategy {
    background-color: rgb(0, 153, 0);
}


/*************************/
/* contents */
.contents {
    display: grid;
    text-align: center;

    /* 양쪽이 같은 크기가 됨 */
    grid-template-columns: 1fr 1fr;
}

.talents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.talents button {
    font-size: 110%;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 1px;
    
    height: 80px;
}
.talent:active {
    border: 2px solid yellow;
}

/* contents 버튼 공통 */
.contents button {
    background-color: white;
    border: 1px solid 
}

/* 각 버튼 */
.executing button {
    color: rgb(138, 43, 226);
    border-color: rgb(138, 43, 226);
}
.influencing button {
    color: rgb(255, 139, 0);
    border-color: rgb(255, 139, 0);
}
.relationship button {
    color: rgb(30, 144, 255);
    border-color: rgb(30, 144, 255);
}
.strategy button {
    color: rgb(0, 153, 0);
    border-color: rgb(0, 153, 0);
}


/*************************/
/* card view */
.card_view {
    display: grid;
    grid-template-rows: 60px 1fr;
    justify-content: center;
}

.card_type {
    display: grid;
    text-align: center;
    height: 60px;
    margin: 5px;
    
    /* 양쪽이 같은 크기가 됨 */
    grid-template-columns: 1fr 1fr 1fr;
}

.card_type button {
    font-size: 120%;
    border: 2px solid gray;
    padding: 1px;
    font-weight: bold;
    margin: 1px;

    background-color: white;
}

#card {
    margin: 6px;
}


/*************************/
/* etc */
#blank {
    /* 투명하게 */
    opacity: 0;
}
